@media all and ( max-width: 1285px )
  .board
  .board__column + .board__column
    padding-left: 0px
  .board__column
    flex-basis: 100%
  .services
    max-width: 100%
  
@media all and ( max-width: 927px )
  .contacts__phoneAndEmail
    flex-shrink: 0
  .requisition-card__user-info-name-info
    flex-direction: column
  .requisition-card__user-info-name-info-name
    position: static
@media all and ( max-width: 884px )
  .user-logOut::before
    display: none
@media all and ( max-width: 807px )
  .info-compani
    flex-wrap: wrap
  .info-compani__img
    flex-basis: 100%
    display: flex
    justify-content: center
    margin-bottom: 5px
@media all and ( max-width: 748px )
  .user-info__profile
    flex-shrink: 0
    max-width: 230px
  .requisition-card__user-info-contacts
    flex-wrap: wrap
  .requisition-card__user-info-contacts-still
    flex-basis: 100%
@media all and ( max-width: 727px )
  .user-logOut__icon
    margin-left: 10px
  .user-logOut
    max-width: 200px
@media all and ( max-width: 686px )
  .content__content
    padding-left: 15px
    padding-right: 15px
  .services__item-info
    max-width: 230px
  .services__item-time
    margin-right: 10px
@media all and ( max-width: 670px )
  .user-info__settingsIcon
    display: none
@media all and ( max-width: 653px )
  .user-info__profilePhoto
    margin: 5px

@media all and ( max-width: 629px )
  .contacts
    flex-direction: column
    justify-content: center
    align-items: center
  .contacts__phoneAndEmail
    padding-top: 20px
    padding-bottom: 20px
@media all and ( max-width: 623px )
  .user-info_text
    text-align: center
@media all and ( max-width: 600px )
  .services__header
    display: flex
    flex-direction: column
  .requisition-card__user-info-date
    flex-direction: column
  .requisition-card__user-info-date-infoBlock
    text-align: center
    width: 100%
    justify-content: center
  .board__cell-header-textBlock-add-info
    text-align: center
@media all and ( max-width: 586px )
  .board__cell-header-link
    padding-right: 15px
@media all and ( max-width: 579px )
  .user-info__settingsIcon
    display: none
  .user-info_text
    padding-left: 5px
    padding-right: 5px
    text-align: center
@media all and ( max-width: 552px )
  .services
    padding: 22px
  .debt-list
    padding: 22px
  .requisition-card__user-info
    padding: 22px
  .debt-list__item-price
    flex-shrink: 0
  .debt-list__item-date
    flex-shrink: 0
    &::after
      display: none
  .user-logOut__icon
    display: none
  .user-logOut
    max-width: 100px
@media all and ( max-width: 531px )
  .board__column
    min-width: 0px
  .services__item-info-addInfo
    width: 100%
    display: flex
    flex-wrap: wrap
    min-width: 135px
  .request__header
    padding: 20px
  .request__messag
    padding: 20px
  
@media all and ( max-width: 520px )
  .requisition-card__user-info-contacts-email
    order: -1
@media all and ( max-width: 504px )
  .debt-list__item
    padding-top: 5px
    padding-bottom: 5px
    flex-direction: column
    justify-content: center
    align-items: center
    text-align: center
  .debt-list__item-text
    margin-right: 0px
  .requisition__header
    flex-direction: column
    text-align: center
  .content__content-title
    max-width: 100%
    text-align: center
    margin-bottom: 20px
    font-size: 31px
    //font-size: 10px
@media all and ( max-width: 498px )
  .contacts__phoneAndEmail
    flex-direction: column
    align-items: center
  .content__footerBlock
    text-align: center
    flex-direction: column
  .content__footerBlockTextItem
    &:last-child
      margin-top: 10px
      flex-basis: 100%
  .requisition-card__user-info-contacts
    flex-direction: column
    align-items: center
  .requisition-card__user-info-name-info
    text-align: center
@media all and ( max-width: 462px )
  .user-logOut
    max-width: 50px
    .user-info_text
      display: none
    .user-logOut__icon
      display: block
@media all and ( max-width: 422px )
  .services__item-edit-icon
    display: none
  .debt-list__item-date
    width: auto
    padding-right: 5px
  //  font-size: 13px
  //.debt-list__item-text
  //  font-size: 15px
  //.debt-list__item-price
  //  font-size: 15px
  //  span
  //    font-size: 15px
  //
@media all and ( max-width: 473px )
  .user-info_text
    padding-left: 10px
    padding-right: 10px
  .user-logOut__icon
    display: none
@media all and ( max-width: 468px )
  .request__messag
    flex-direction: column
  .request__messag-messagInfo
    margin-top: 10px
@media all and ( max-width: 415px )
  .treatment__header
    flex-direction: column
    text-align: center
  .user-info__settings
    width: 100%
    .user-info_text
      display: none
  .user-info__settingsIcon
    display: block
    margin: 0  
@media all and ( max-width: 392px )
  .services__item-edit-icon
    display: block
    margin-left: 5px
    margin-right: 0
  .services__item-edit-link
    display: none
@media all and ( max-width: 380px )
  .requisition-card__btns-btn
    font-size: 13px
  .requisition-card__btns-btn-icon
    margin-right: 5px
@media all and ( max-width: 370px )
  .debt-list__header
    text-align: center
    display: flex
    flex-direction: column
  .requisition-card__user-info
    padding: 5px
@media all and ( max-width: 364px )
  .user-logOut
    width: 50px
    display: flex
    justify-content: center
    align-items: center
    .user-info_text
      display: none
  .user-logOut__icon
    display: block
    margin: 0
@media all and ( max-width: 340px )
  .user-info__profile
    max-width: 210px
@media all and ( max-width: 400px )
  .content__footer
    padding-left: 15px
    padding-right: 15px
  
      