@media all and ( max-width: 927px )
  .contacts__phoneAndEmail
    flex-shrink: 0
@media all and ( max-width: 807px )
  .info-compani
    flex-wrap: wrap
  .info-compani__img
    flex-basis: 100%
    display: flex
    justify-content: center
    margin-bottom: 5px
@media all and ( max-width: 629px )
  .contacts
    flex-direction: column
    justify-content: center
    align-items: center
  .contacts__phoneAndEmail
    padding-top: 20px
    padding-bottom: 20px
@media all and ( max-width: 498px )
  .contacts__phoneAndEmail
    flex-direction: column
    align-items: center
  .content__footerBlock
    text-align: center
    flex-direction: column
  .content__footerBlockTextItem
    &:last-child
      margin-top: 10px
      flex-basis: 100%
@media all and ( max-width: 400px )
  .content__footer
    padding-left: 15px
    padding-right: 15px
  
      