body {
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
}
.menu {
  width: 100%;
  height: 100%;
  max-width: 327px;
  background-color: #173343;
}
.menu__messag {
  height: 100%;
  min-height: 300px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #93a0b9;
  font-family: "Noto Sans";
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.72px;
  line-height: 20.4px;
  text-transform: uppercase;
  background-color: #173343;
}
.menu__messagText {
  position: relative;
}
.menu__messagText::after {
  position: absolute;
  top: -21px;
  left: 50%;
  transform: translateX(-50%);
  font-family: FontAwesome;
  font-weight: 400;
  content: "\f077";
}

.menu__header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #132b38;
  height: 80px;
}
.menu__item {
  width: 100%;
  min-height: 70px;
  display: flex;
  align-items: center;
  background: #173343;
  padding: 15px 20px;
  color: #ffffff;
  font-family: "Noto Sans";
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.72px;
  line-height: 20.4px;
  text-transform: uppercase;
}
.menu__item .menu__itemImg {
  flex-shrink: 0 ;
  width: max-content;
  margin-right: 30px;
  display: flex;
  align-items: center;
}
.menu__item .menu__itemText {
  display: flex;
  flex-direction: column;
}
.menu__item .menu__itemText span+span {
  color: #9acce8;
  font-family: "Noto Sans";
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.48px;
  line-height: 20.4px;
}
.menu__item .notice {
  display: block;
  position: relative;
}
.menu__item .notice .notice__len {
  content: '4';
  position: absolute;
  right: -30;
  top: -10;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #173343;
  background-color: #ffffff;
  border-radius: 20px;
}

.menu__item__main {
  background-color: #ed6b6a;
  color: #ffffff;
}
.menu__item__main .menu__itemText span+span {
  color: #ffe5e4;
  font-family: "Noto Sans";
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.48px;
  line-height: 20.4px;
}